<div class="form-group mb-2">
    <%= form.label :expense_payer_id, "Paid by" %>
    <%= form.select :expense_payer_id, users.map{|user| [user.name, user.id]}, {include_blank: true,  class: "mb-2 mt-2"} , id: 'itemized_expense_payer_id' %>
</div>   

<h3 class="mt-3">Items</h3>
<p><i>Note: Amount reflecting on sharers doesn't include tax and tip </i> </p>

<div id="item-container">
    <!-- Item inputs will be dynamically added here -->
</div>

<button class="btn btn-primary mt-2" type="button" id="add-item">Add Item</button>

<hr />
<div id="total-value-container" style="display: none">
    <div class="row ">
        <div class="col-md-4">
        <h4> Subtotal </h4>
        </div>
        <div class="col-md-3">
            <input type="number" placeholder="0.00" id="sub_total" disabled readonly>
        </div>
        <div class="col-md-5"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
        <h4> + tip </h4>
        </div>
        <div class="col-md-3">
            6.5%
        </div>
        <div class="col-md-5"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
        <h4> + tax </h4>
        </div>
        <div class="col-md-3">
            18%
        </div>
        <div class="col-md-5"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
        <h4> Grand Total </h4>
        </div>
        <div class="col-md-3 grand-total">
            <input type="number" placeholder="0.00" id="grand_total" disabled readonly>
        </div>
    </div>
</div>
